[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask-migrate = "*"
wtforms = "*"
flask-wtf = "*"
"psycopg2" = "*"
flask-bcrypt = "*"
flask-login = "*"
pyjwt = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.7"
