[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
flask-marshmallow = "*"
flask-wtf = "*"
google-api-python-client = "*"
googleapis-common-protos = "*"
marshmallow-sqlalchemy = "*"
oauth2client = "*"
psycopg2 = "*"
python-crontab = "*"
python-dotenv = "*"
update = "*"
virtualenv = "*"
Flask = "*"
Flask-Login = "*"
Flask-Migrate = "*"
Sphinx = "*"
httplib2 = "*"
mako = "*"
pycparser = "*"
wtforms-components = "*"

[dev-packages]

[requires]
python_version = "3.7"
