{% extends "layout.html" %}
{% block content %}
<h1>About Page</h1>
<p>This is a student project for the course Programming Internet of Things <br>
    The purpose of the Program is to simulate a automatize a Medical Office. <br>
    Booking of Consultations, Registration and Recording of Consultations Notes shall be managed via the MAPS
    Program<br>
    For more information please see: https://github.com/kokaruk/IOT-A1/<br>
    Participating Students are Dzmitry Kakaruk, Calvin Schnierer, Patrick Jacob</p>
{% endblock content%}