{% extends "layout.html" %}
{% block content %}
<h1>Calendar</h1>
<iframe src="https://calendar.google.com/calendar/b/1/embed?title=Consulation%20Overview&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK&amp;height=600&amp;wkst=2&amp;hl=en&amp;bgcolor=%23FFFFFF&amp;src=tbu2re26r22rnim6jhg96u6pvs%40group.calendar.google.com&amp;color=%235229A3&amp;ctz=Australia%2FMelbourne"
        style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
{% endblock content%}