{% extends "layout.html" %}
{% set active_page = "clerk" %}

{% block section_title %}
    <h2>Welcome to our Medical Clinic</h2>
    <p>Please choose your next Step</p>
{% endblock section_title %}


{% block app_content %}
    <div class="container">
        <a class="col-lg-4 col-md-6 single-service" href="{{ url_for('booking') }}">
            <div class="inner">
                <div class="title">
                    <div class="icon">
                        <i class="fas fa-star-of-life"></i>
                    </div>
                    <h4>Booking</h4>
                </div>
                <div class="content">
                    <p>Tap here to Book a Consultation Appointment</p>
                </div>
            </div>
        </a>
    </div>
{% endblock app_content %}
