{% extends "layout.html" %}

{% block section_title %}
    <h2>Welcome to our Medical Clinic</h2>
    <p>Please choose your next Step</p>
{% endblock section_title %}

{% block app_content %}
    <div class="container">
        <a class="col-lg-4 col-md-6 single-service" href="{{ url_for('patient') }}">
            <div class="inner">
                <div class="title">
                    <div class="icon">
                        <i class="fas fa-star-of-life"></i>
                    </div>
                    <h4>Patients</h4>
                </div>
                <div class="content">
                    <p>Tap here to register or book an appointment</p>
                </div>
            </div>
        </a>
        <a class="col-lg-4 col-md-6 single-service" href="{{ url_for('clerk') }}">
            <div class="inner" >
                <div class="title">
                    <div class="icon">
                         <i class="fas fa-screwdriver"></i>
                    </div>
                    <h4>Admin</h4>
                </div>
                <div class="content">
                    <p>Tap here to access the admin panel</p>
                </div>
            </div>
        </a>
        <a class="col-lg-4 col-md-6 single-service" href="{{ url_for('doctor') }}">
            <div class="inner">
                <div class="title">
                    <div class="icon">
                        <i class="fas fa-briefcase-medical"></i>
                    </div>
                    <h4>Doctor</h4>
                </div>
                <div class="content">
                    <p>Tap here to access appointments section</p>
                </div>
            </div>
        </a>
    </div>
{% endblock app_content %}