{# adding flask_bootstrap support #}
{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block title %}
    {% if title %}MAPS - {{ title }}{% else %}Medical Appointment System{% endif %}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
{% endblock %}

{%  block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.2, shrink-to-fit=no">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('home') }}">MAPS</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    {% if request.url_rule.rule == "/home" or request.url_rule.rule == "/about" or request.url_rule.rule == "/" %}
                        <li><a href="{{ url_for('patient') }}">Patient</a></li>
                        <li><a href="{{ url_for('clerk') }}">Clerk</a></li>
                        <li><a href="{{ url_for('doctor') }}">Doctor</a></li>
                    {% elif request.url_rule.rule == "/patient" or request.url_rule.rule == "/register" or request.url_rule.rule == "/booking" %}
                        <li><a href="{{ url_for('patient') }}">Patient</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                        <li><a href="{{ url_for('booking') }}">Booking</a></li>
                    {% elif request.url_rule.rule == "/calendar" or request.url_rule.rule == "/calendar" or request.url_rule.rule == "/booking" or request.url_rule.rule == "/clerk" %}
                        <li><a href="{{ url_for('clerk') }}">Clerk</a></li>
                        <li><a href="{{ url_for('calendar') }}">Calendar</a></li>
                        <li><a href="{{ url_for('consultation_bookings') }}">BookingList</a></li>
                        <li><a href="{{ url_for('booking') }}">Booking</a></li>
                        <li><a href="#">Statistics</a></li>
                    {% elif request.url_rule.rule == "/doctor" or request.url_rule.rule == "/consultation" or request.url_rule.rule == "/schedule" or request.url_rule.rule == "/consultation_list" %}
                        <li><a href="{{ url_for('doctor') }}">Doctor</a></li>
                        <li><a href="{{ url_for('consultation_list') }}">Consultation Notes</a></li>
                        <li><a href="{{ url_for('schedule') }}">Weekly Schedule</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}


{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block app_content %}{% endblock %}
            </div>
        </div>
    </main>
{% endblock %}