{% extends "layout.html" %}
{% set active_page = "patient" %}

{% block section_title %}
    <h2>Welcome to our Medical Clinic</h2>
    <p>Please choose your next Step</p>
{% endblock section_title %}

{% block app_content %}
    <div class="container">
        <a class="col-lg-4 col-md-6 single-service" href="{{ url_for('register') }}">
            <div class="inner">
                <div class="title">
                    <div class="icon">
                        <i class="fas fa-registered"></i>
                    </div>
                    <h4>Register</h4>
                </div>
                <div class="content">
                    <p>Tap here to register or book an appointment</p>
                </div>
            </div>
        </a>
        <a class="col-lg-4 col-md-6 single-service" href="{{ url_for('booking') }}">
            <div class="inner" >
                <div class="title">
                    <div class="icon">
                         <i class="fas fa-calendar-alt"></i>
                    </div>
                    <h4>Booking</h4>
                </div>
                <div class="content">
                    <p>Tap here to access the admin panel</p>
                </div>
            </div>
        </a>
    </div>
{% endblock app_content %}